# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

/public/docs

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

# IntelliJ
out/
.idea/
*.iml
*.ipr
*.iws

.env
/.vs
